<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/favicon.ico">
    <title>成绩查询</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
</head>
<body>
    <!--head start-->
    <div class="col-xs-12 col-lg-12 head_main">
        <div  class="col-xs-12 col-lg-4">
            <img src="./image/logo.png" alt="">
        </div>
        
    </div>
    <!--head end-->
    <!--main start-->
    <div class="container">
        <form id="inputs" role="form">
            <div class="form-group">
                <label for="name">学年</label>
                <select v-model="years" class="form-control" onchange="resetli()">
                    <option value="-1">所有成绩</option>
                    <option value="0">2019-2020</option>
                    <option value="1">2018-2019</option>
                    <option value="2">2017-2018</option>
                    <option value="3">2016-2017</option>
                    <option value="4">2015-2016</option>
                    <option value="5">2014-2015</option>
                    <option value="6">2013-2014</option>
                </select>
                <div id="term">
                    <label for="name">学期</label>
                    <select v-model="terms" class="form-control" onchange="resetli()">
                    <option value="0">第一学期</option>
                    <option value="1">第二学期</option>
                </select>
                </div>
            </div>
        </form>
        <div id="scoredata" class="col-xs-12 col-sm-12 col-md-12 main_data">
            <li></li>
            <li v-for="score in scores">
                <div class="main_data_head" onclick="showdata(this)">
                    <span>{{score.name}}</span>
                    <p>学分:{{score.credit}}&nbsp;&nbsp;成绩:{{score.finalScore}}&nbsp;&nbsp;绩点:{{score.GPA}}</p>
                </div>
                <div style="height: 0px;overflow: hidden;">
                    <p>学年学期:{{score.date}}</p>
                    <p>课程代码:{{score.code}}</p>
                    <p>课程序号:{{score.id}}</p>
                    <p>课程类别:{{score.type}}</p>
                    <p>期末成绩:{{score.testScore}}</p>
                    <p>平时成绩:{{score.usualScore}}</p>
                    <p>总评成绩:{{score.overallScore}}</p>
                    <p>实验成绩:{{score.experimentScore}}</p>
                    <p>最终成绩:{{score.finalScore}}</p>
                </div>
            </li>
        </div>
    </div>
    <!--main end-->
    <!--tail start-->
    <div id="test"></div>
    <!--tail end-->
    <script>
        var a='hello world';
        var scoredata=new Vue({
            el: '#scoredata',
            data:{
                hhh:'adaf',
                scores:[]
            }
        });
        var inputs=new Vue({
            el:'#inputs',
            data:{
                years:'0',
                terms:'0'
            }
        });
        inputs.$watch('years',function(newv,oldv){
            changeYears(newv);
        });
        inputs.$watch('terms',function(newv,oldv){
            changeTerms(newv);
        });
    </script>
    <script src="js/control.js"></script>
</body>
</html>